<h1>Pages#gallery</h1>
<p>Find me in app/views/pages/gallery.html.erb</p>

<!-- flexbox container -->
<!-- loop over the img urls inside a div for each box -->

<div class="flex-container">
  <% @array.each do |item| %>
    <div class="flex-item">
      <p><%=item[:title] %><p/>
        <img src="<%= item[:url]%>"
        class="flex-img">
    </div>
  <% end %>
</div>
