@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";

.flex-container {
  display:flex;
   justify-content: center;
   flex-wrap: wrap;
}

.flex-item{
  height: 200px;
  width:  200px;
  overflow: hidden;
  background-color: pink;

  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;

}

img{width: 100%;}
